.DS_Store
.claude/
.idea/
.obsidian/

package-lock.json
vivo-aigc-2026-application-track/

**/.npm-cache/
**/package-lock.json
!yingdao-ai-proxy/package-lock.json

**/.env
**/.env.*
!**/.env.example

**/node_modules/
**/dist/
**/build/
**/.gradle/
**/.gradle-bin/
**/local.properties
**/*.iml
